@page "/boottypen/{id:int}"
@attribute [Authorize(Roles = "Materiaalcommissaris")]
@using Kbs.Business.Boat
@using Kbs.Business.BoatType
@using Kbs.Business.Damage
@inject IBoatRepository BoatRepository
@inject IBoatTypeRepository BoatTypeRepository
@inject IDamageRepository DamageRepository

<h1>Boat type @_boatType.BoatTypeId</h1>

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Naam:</b>
                <span>@_boatType.Name</span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Heeft een stuur:</b>
                <span>@(_boatType.HasSteeringWheel ? "Ja" : "Nee")</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Stoelen:</b>
                <span>@(_boatType.Seats.ToDutchString())</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Moeilijkheidsniveau:</b>
                <span>@(_boatType.RequiredExperience.ToDutchString())</span>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Status</th>
                <th>Heeft schade</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var boat in _boats)
            {
                <tr>
                    <td>
                        <a href="/boten/@boat.BoatId">@boat.Name</a>
                    </td>
                    <td>@boat.Status.ToDutchString()</td>
                    @if (DamageRepository.HasDamage(boat))
                    {
                        <td style="color: red;">Ja</td>
                    }
                    else
                    {
                        <td style="color: darkgreen;">Nee</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }
    private BoatTypeEntity _boatType = new();
    private List<BoatEntity> _boats = new();
    protected override void OnInitialized()
    {
        _boatType = BoatTypeRepository.GetById(Id);
        _boats = BoatRepository.GetManyByType(_boatType.BoatTypeId);
    }
}
