@page "/boottypen"
@attribute [Authorize(Roles = "Materiaalcommissaris")]
@using Kbs.Business.BoatType
@inject IBoatTypeRepository BoatTypeRepository

<PageTitle>Boot typen</PageTitle>
<h1 class="col-4">Boot typen</h1>

<div class="row">
    <div class="col-4">
        <a href="/boottypen/aanmaken" class="btn btn-primary">Boottype aanmaken</a>
    </div>
</div>

<div class="row d-flex justify-content-start">
    @foreach (var boatType in _boatTypes)
    {
        <Card Title="@boatType.Name">
            <div class="row">
                <b class="col-5">Stuur: </b>
                <small class="col-7 text-muted">
                    @if (boatType.HasSteeringWheel)
                    {
                        @("Beschikbaar")
                    }
                    else
                    {
                        @("Niet Beschikbaar")
                    }
                </small>

                <b class="col-5">Ervaring:</b>
                <small class="col-7 text-muted">@boatType.RequiredExperience.ToDutchString()</small>

                <b class="col-5">Stoelen:</b>
                <small class="col-7 text-muted">@boatType.Seats.ToDutchString()</small>

                <b class="col-5">Snelheid:</b>
                <small class="col-7 text-muted">@boatType.Speed km/h</small>
            </div>

            <a href="/boottypen/@boatType.BoatTypeId" class="btn btn-primary">Details</a>
        </Card>
    }
</div>

@code {
    private List<BoatTypeEntity> _boatTypes = new();

    protected override void OnInitialized()
    {
        _boatTypes = BoatTypeRepository.GetAll();
    }

}