@page "/gebruikers/{id:int}"
@attribute [Authorize(Roles = "Wedstrijdcommissaris")]
@using Kbs.Business.Reservation
@using Kbs.Business.User
@using Kbs.Business.Boat
@inject IReservationRepository ReservationRepository
@inject IUserRepository UserRepository
@inject IBoatRepository BoatRepository
@inject NotificationService NotificationService

<h1>Gebruiker @_user.UserId</h1>
<div class="row">
    @if (!_user.Is(UserRole.Banned))
    {
        <div class="col-2">
            <button @onclick="Ban" class="btn btn-primary">Verbannen</button>
        </div>
    }
    else
    {
        <div class="col-2">
            <button @onclick="UnBan" class="btn btn-primary">Hef verbanning op</button>
        </div>
    }
    
</div>

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Naam:</b>
                <span>@(_user.Name ?? _user.Email)</span>
            </div>
        </div>


        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Email:</b>
                <span>@(_user.Email)</span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Rol:</b>
                <span>@_user.Role.ToDutchString()</span>
            </div>
        </div>

    </div>

    <div class="col-6">
        <table class="table">
            <thead>
            <tr>
                <th>Starttijd</th>
                <th>Eindtijd</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var reservation in _reservations)
            {
                var boat = BoatRepository.GetById(reservation.BoatId);
                <tr>
                    <td>
                        @reservation.StartTime.ToDutchString(true)
                    </td>
                    <td>@reservation.EndTime.ToDutchString(true)</td>
                    <td>@reservation.Status.ToDutchString()</td>
                    <td>
                        <a class="btn btn-primary" href="/reserveringen/@reservation.ReservationId">Details</a>
                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }

    private UserEntity _user = new();
    private List<ReservationEntity> _reservations = new();

    protected override void OnInitialized()
    {
        _user = UserRepository.GetById(Id);
        _reservations = ReservationRepository.GetByUserId(_user.UserId);
    }

    private async Task Ban()
    {
        if (await NotificationService.ShowConfirmation("Weet u zeker dat deze gebruiker verbannen moet worden?"))
        {
            _user.Role = UserRole.Banned;
            UserRepository.Update(_user);
            await NotificationService.ShowSuccessNotification("Succesvol verbannen!");
        }
    }

    private async Task UnBan()
    {
        _user.Role = UserRole.Member;
        UserRepository.Update(_user);
        await NotificationService.ShowSuccessNotification("Gebruiker is weer een lid.");
    }
}