@page "/boten/{id:int}"
@using Kbs.Business.Boat
@using Kbs.Business.BoatType
@inject IBoatRepository BoatRepository
@inject IBoatTypeRepository BoatTypeRepository

<h1>Boat @boat.BoatId</h1>

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Naam:</b>
                <span>@boat.Name</span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Status:</b>
                <span>@boat.Status.ToDutchString()</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Verwijder datum:</b>
                <span>@(boat.DeleteRequestDate?.ToDutchString())</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 justify-content-between d-flex">
                <b>Boottype:</b>
                <a href="/boottypen/@boatType.BoatTypeId">@(boatType.Name)</a>
            </div>
        </div>
    </div>
    
    <div class="col-6">

    </div>
</div>


@code
{
    [Parameter]
    public int Id { get; set; }
    private BoatEntity boat = new();
    private BoatTypeEntity boatType = new();
    protected override void OnInitialized()
    {
        boat = BoatRepository.GetById(Id);
        boatType = BoatTypeRepository.GetByBoatId(boat.BoatId);
    }
}
